@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

#root {
  
}

.container {
  background-color: #061114;
  overflow: auto;
  height: 100vh;
}

.header {
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.wolfLogo {
  display: flex;
  max-width: 167px;
  max-height: 91px;
}

.cartLogo {
  display: flex;
  max-width: 167px;
  max-height: 81px;
  
}


.pivotPlan {
  display: flex;
}

.buttons {
  display: flex;
  gap: 25vh;
  cursor: pointer;
  
}

.vipbtn {
  background-color: #061114;
  width: 167px;
  height: 91px;
  font-weight: bold;
  font-size: large;
 
}

.cartbtn {
  display: flex;
  background-color: #061114;
  width: 84px;
  height: 91px;
  justify-content: center;
  align-items: center;
}

.btn:focus {
  
}

.btn:active {
  
}

.btn-block {
  
}

.task {
  
}

.task.reminder {
  
}

.task h3 {
  
}

.add-form {
  
}

.form-control {
  
}

.form-control label {
  
}

.form-control input {
  
}

.form-control-check {
  
}

.form-control-check label {
  
}

.form-control-check input {

}

footer {
  
}